.footer {
  width: 100%;
  height: 50px; /* высота футера может быть любой */
  padding: 10px; /* отступы внутри футера */
  text-align: center; /* выравнивание текста по центру */
  font-size: 18px; /* размер шрифта */
  color: #000000; /* цвет текста */
  border-top: 1px solid #dddddd; /* граница сверху */
  position: absolute;
  bottom: 0;
}
