.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    justify-content:center;
    box-shadow: 0px 2px 10px rgba(214, 212, 212, 0.616);


    >a {
      padding: 15px;
    }

  }

  .header__active {
    box-shadow: 0px 2px 10px rgba(214, 212, 212, 0.616);
    display: flex;
    padding-left: 27vh;


    > a.addit {
      display: none;
    }


  }

  @media screen and (max-width: 1100px) {
    .header__active  {
      padding-left: 5vh;
    }
}
